
body {
    -moz-user-select: none;
}
.sound {
    background: url("images/w/sound-on.png") no-repeat scroll left top / 100% auto transparent;
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    z-index: 9999999;
}
.sound[data-status="off"] {
    background-image: url("images/w/sound-off.png");
}
.sound-title {
    color: #777;
    display: none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 50px;
    text-align: right;
    top: 22px;
    width: 60px;
    z-index: 9999999;
}